body {
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  margin-top: 2rem;
  background-color: #8b8989;
  border: 10px;
  border-color: #2ccce4;
  border-style: dashed;
  border-width: thick;
  position: absolute;
  left: 35%;
  top: 10%;
}
input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: #2ccce4;
  border-radius: 15px;
  cursor: pointer;
}
